---
pageTitle: "siimple.liink.space"
---
  <%- include('./_includes/head') %>
  <main id="main">
    <header id="header" class="container mx-auto">
      <h1 id="pageTitle" class="font-bold text-xl">
        <a href="./pages/main"><%- pageTitle %></a>
      </h1>
      <a href="#" id="profile"></a>
    </header>
    <div id="mainContent">
      <ul id="link-items" class="container mx-auto">
        <li class="link-item">
          <a href="https://calendar.google.com">
            <div class="link-item-title">
              Google Calendar
            </div>
            <div class="link-item-description">
              <div>Calendar</div>
              <small>https://calendar.google.com</small>
            </div>
          </a>
        </li>
        
      </ul>
    </div>    
  </main>
      
  </body>
</html>
